/* App.css */

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

table.block-details {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table.block-details td {
  padding: 8px;
  border: 1px solid #ddd;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #5d45a0;
}

h4 {
  display: flex;
  justify-content: center;
}

h4:hover {
  color: #4CAF50;
  text-decoration: underline;
}

.unordered-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;  
}

h2 {
  font: bold;
  font-size: 30px;
}

.input {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 13px;
}

h3 {
  font: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}